html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3eee2;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
}

a {
  color: inherit;
  text-decoration: none;
}

#snake-container,
#minesweeper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
}

#snake {
  border: solid 0.2rem #ccb27b;
  border-radius: 0.2rem;
}

#replay {
  background-color: #faa;
  padding: 0.4rem 1rem;
  font-size: 2rem;
  border: #f00 solid 0.2rem;
  color: #f00;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
  margin-top: -30vmin;
  display: none;
}

#replay.show {
  display: block;
}

#score {
  margin: 0 0 1.5rem;
  font-size: 1.2rem;
}

#game-list {
  font-size: 1.3rem;
  list-style: none;
  padding: 0;
}

#game-list li {
  text-align: center;
  margin: 1.5rem 1rem;
}

#game-list li a {
  background-color: #f08080;
  color: inherit;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
}

#game-list li a:hover {
  background-color: #f34f4f;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.4rem 0.6rem;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#number-mines {
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

#number-mines-input {
  margin-top: 0.5rem;
  font-size: 1rem;
  background-color: #000;
  border-radius: 0.1rem;
  width: 200px;
}

#help {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.4rem 0.6rem;
  background-color: #14365e;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
